.wrapper {
  width: 100%;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--gray-300);
}
.wrapper > small {
  text-align: center;
}
.wrapper > small > a {
  color: var(--primary);
  text-decoration: none;
  font-weight: 600;
}
