.wrapper {
  padding: 1em 15%;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.header {
  width: 100%;
}
.header > button {
  padding: 0.65em 2.5em;
  border: 1px solid var(--success);
  background: var(--success);
  color: var(--light);
  border-radius: 10px;
  font-size: 16px;
  transition: 0.15s;
}
.header > button:hover {
  cursor: pointer;
  box-shadow: 0 0 12px var(--dark);
}

.test1 {
  width: 50%;
  padding: 15px;
  border: 1px solid var(--primary);
  border-radius: 10px;
}
.test2 {
  width: 25%;
  padding: 15px;
  border: 1px solid var(--info);
  border-radius: 10px;
}
.test3 {
  width: 75%;
  padding: 15px;
  border: 1px solid var(--danger);
  border-radius: 10px;
}
.test4 {
  width: 100%;
  height: 75vh;
  padding: 15px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  border: 1px solid var(--secondary);
  border-radius: 10px;
}
.test5 {
  width: 150px;
  padding: 15px;
  border: 2px solid var(--success);
  border-radius: 30px;
}
.test6 {
  width: 100%;
  padding: 25px;
  border: 2px solid var(--warning);
  border-radius: 3px;
}
